#traffic-log-list {
  padding: 0;
}

.traffic-entry {
  white-space: pre;
  font-size: 0.85rem;
  line-height: 1.1;
  padding: 0 0.4rem;
}

.traffic-entry span {
  display: inline-block;
  vertical-align: top;
  padding-right: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.traffic-timestamp {
  width: 78px;
  color: #999;
}

.traffic-type {
  width: 82px;
  font-weight: bold;
}

.traffic-ip {
  width: 190px;
  color: #f0e68c;
}

.traffic-protocol {
  width: 60px;
  color: #aaa;
}

.traffic-process {
  color: #f1f1f1;
}

.OUTGOING {
  color: cornflowerblue;
}

.INCOMING {
  color: #e94c4c;
}

.AT-OUT {
  color: mediumpurple;
}

.AT-IN {
  color: lightcoral;
}
